
header ul {

    list-style-type: none;       /* Removes default bullets */
    text-align: center;          /* Center the list horizontally */
    display: flex;               /* Flexbox layout for horizontal menu */
    justify-content: center;     /* Center items */
    padding: 0;
  }

header li {
    margin: 0 20px; 
    
}

a {
    color: black;
    text-decoration: none;
}